 /* SECTION */
.projects-section {
  padding: 100px 20px;
  background: #fff;
  color: #b8b8ff;
  text-align: center;
}

.section-title span {
  color: #c9a227;
  letter-spacing: 2px;
  font-size: 14px;
}

.section-title h2 {
  font-size: 38px;
  margin: 15px 0;
}

.separator {
  width: 60px;
  height: 3px;
  background: #c9a227;
  margin: 0 auto 60px;
}

/* GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

/* CARD */
.project-card {
  background: #1e293b;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project-content {
  padding: 25px;
  text-align: left;
}

.location {
  color: #c9a227;
  font-size: 13px;
  letter-spacing: 1px;
}

.project-content h3 {
  margin: 10px 0;
}

.project-content p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

/* BUTTON */
.luxury-btn {
  padding: 10px 25px;
  border: none;
  background: linear-gradient(135deg, #c9a227, #e6c35c);
  color: #000;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.luxury-btn:hover {
  background: #fff;
  transform: scale(1.05);
}

/* FOOTER */
.footer {
  /* background: #fff; */
  padding: 60px 20px;
  color: #030303;
  margin-top: -2px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-brand h2 {
  color: #c9a227;
}

.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 15px;
  margin-left: 100px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
  cursor: pointer;
  color: #494848;
  transition: 0.3s;
}

.footer-links li:hover {
  color: #c9a227;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid #1e293b;
  padding-top: 20px;
  font-size: 14px;
  color: #aaa;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 28px;
  }
  .footer-links h4 {
  margin-left: 0px;
}

  .footer-container {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }
  .footer{
    margin: -1px;
  }
} 
