/* Sticky Wrapper */
.materials-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 0 16px;
  position: sticky;
  top: 80px;
  z-index: 100;
  height: 50px;
  width: 900px;
}

/* Main Container */
.materials-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  border-radius: 40px !important;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.95) !important;
  backdrop-filter: blur(6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08) !important;
  flex-wrap: nowrap;
}

/* Each Item */
.materials-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

/* Title */
.materials-title {
  font-weight: 600 !important;
  font-size: 14px !important;
  height: 30px;
  letter-spacing: 1px;
  color: #1e293b;
  text-align: center;
}

/* Arrow */
.arrow-icon {
  transition: transform 0.3s ease;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

/* Divider */
.divider {
  height: 28px;
}

/* Dropdown */
.dropdown-menu {
  margin-top: 10px !important;
  border-radius: 12px !important;
  min-width: 260px !important;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1) !important;
}

/* ------------------ */
/* Mobile Responsive  */
/* ------------------ */

@media (max-width: 768px) {

.materials-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 16px;
  position: sticky;
  z-index: 100;
  height: 180px;
  margin-top: -180px;
}
  .materials-container {
    flex-wrap: wrap;
    border-radius: 20px !important;
    padding: 10px 12px;
  }

  .materials-item {
    flex: 100%;
    justify-content: space-between;
    padding: 3px 7px;
  }

  .divider {
    display: none;
  }

  .materials-title {
    font-size: 13px !important;
  }
}
