nav{
    width: 100%;
    color: #fff;
    padding: 0px 40px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    width: 100px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    /* display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px; */
    list-style: none;
    font-size: 16px;
    position:relative;
    cursor: pointer;
}
.dark-nav{
    background: #212EA0;
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

nav ul li::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f5f5f4;
    transition: width 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

/* Icon alignment */
.nav-icons {
    vertical-align: middle;
}

.phone-btn {
    background-color: #fff !important;
    color: #3c09f3 !important;
    padding: 2px !important;
    border-radius: 50% !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .phone-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.6);
 }

/* Right side icon container */
.right-icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* ----- media query ----------- */

@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}


@media (max-width: 840px){

    nav{
        /* justify-content: flex-start;
        padding: 0px 20px; */
        display: flex;
        align-items: center;
        justify-content: space-between; /* keep left & right separation */
        padding: 0 20px;
    }

    nav ul{
        position: fixed;
        top: 0;
        /* right: 0px; */
        left: 0px;
        bottom: 0;
        background: #212EA0;
        z-index: 1000;
        width: 180px;
        padding-top: 85px;
        transition: 0.5s;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    nav ul li{
        display: block;
        margin: 0px, 0px, 0px, 0px;
    }

    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
        margin-right: 15px;
    }

    .right-icons {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    /* .right-icons{
        display: none;
    } */

    .phone-btn {
    padding: 3px !important;
    }
    .hide-mobile-menu{
        left: -200px;
    }
}