.footer {
  background-color: whitesmoke;
  padding: 40px 20px;
}
.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

/* Logo */
.footer-logo {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #333;
}

/* Social Icons */
.footer-social {
  display: flex;
  gap: 30px;
}

.footer-social a {
  color: #222;
  font-size: 18px;
  transition: 0.3s ease;
}

.footer-social a:hover {
  color: #000;
  transform: translateY(-10px);
}

/* Subscribe Section */
.footer-subscribe {
  display: flex;
  align-items: center;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.footer-subscribe input {
  padding: 12px 15px;
  border: none;
  outline: none;
  width: 250px;
  background: transparent;
  font-size: 14px;
}

.footer-subscribe button {
  padding: 12px 20px;
  border: none;
  background: #9e9e9e;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-subscribe button:hover {
  background: #7a7a7a;
}
.footers{
  margin-top: 25px;
}

/* .terPri{
  background-color: red;
} */
/* ------------------ */
/* Mobile Responsive  */
/* ------------------ */

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-social {
    margin: 15px 0;
  }

  .footer-subscribe {
    width: 100%;
    max-width: 350px;
  }

  .footer-subscribe input {
    width: 100%;
  }

  .terPri{
  margin-top: 15px;
}
}
